.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: calc(10px + 2vmin);
	color: white;
}
